extends layout

block content
  .container(style="height: 90vh; display: flex; justify-content: center; align-items: center;")
    .row
      .col-md-5.text-center
        img(src="/images/home-page.png", alt="Image", class="img-fluid w-100 h-100")
      .col-md-7.text-center
        .card
          .card-header(style="background-color: #1f3c88; border-color: #1f3c88")
            h3.card-title.text-white Expense Details
          .card-body
            table.table.table-striped
              tbody
                tr
                  th Type:
                  td #{incomeExpense.type}
                tr
                  th Description:
                  td #{incomeExpense.description}
                tr
                  th Category:
                  td #{incomeExpense.category}
                tr
                  th Amount:
                  td #{incomeExpense.amount}
            .form-group.row.justify-content-center
                    a.btn.btn-primary.ml-5(href=`/expenses/${incomeExpense.id}/edit`, style="background-color: #1f3c88; border-color: #1f3c88") Edit
                    a.btn.btn-danger.ml-5(href=`/expenses/${incomeExpense.id}/delete`) Delete
                    a.btn.btn-secondary.ml-5(href=`/expenses`) Back
