extends layout

block content
  .container(style="padding-top: 80px; margin-top: 20px;")
    h1 Expense Tracker
    .row
      .col-md-6
        .card.mb-3
          .card-body.text-center 
            .section-header
              .h3
                |  Total Income
            form#incomeForm
              .form-group
                h3 #{income}
      .col-md-6
        .card.mb-3
          .card-body.text-center
            .section-header
             .h3
              |  Total Expense
            form#expenseForm
              .form-group
                h3 #{expense}
   
    .section
      .section-header.row.align-items-center
        .col-md-6
          .h2 History of Income and Expenses
        .col-md-6.text-right
          a(href='/expenses/create-income-expense',style="background-color: #1f3c88; border-color: #1f3c88").btn.btn-primary Add Expense
      if data.length == 0
        h5.text-center.m-10.p-10 No available Income or Expense
      br
      if data.length > 0
        table.history.table.table-striped.table-hover.table-bordered
          thead(style="background-color: #1f3c88; color: #fff")
            tr
              th Type
              th Category
              th Description 
              th Amount
              th Action
          tbody#expenseHistory
            each exp in data
              tr
                td #{exp.type}
                td #{exp.category}
                td #{exp.description}
                td #{exp.amount}
                td 
                  a(href=`/expenses/${exp.id}`, style="background-color: #1f3c88; border-color: #1f3c88").btn.btn-primary.btn-sm
                    i.fa.fa-eye
                    |  View
